.menu-con {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding: 15px;
      background-color: rgb(26 26 26 / 93%);

    backdrop-filter: blur(10px);
}

.menu-inner-con {
    padding-top: 60px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header .menu-btn {
    margin-right: 20px;
}

.menu-header h1 {
    margin: 0px;
}
