.small-post-item-list-con {
    margin-top: 60px;
}

.small-post-item-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.small-post-item {
    background-color: #222;
    border-radius: 15px;
    padding: 25px;
    cursor: pointer;
    border: 2px solid #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 0.35s;
    transition-timing-function: ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.small-post-item:hover {
    border: 2px solid #ff6500;
}

.small-post-item-img-con {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    background-color: #ff6500;
    border-radius: 10px;
    background-position: center;
}

.small-post-item-right-con {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    max-height: 100px;
    height: 100px;
    width: 100%;
}

.small-post-item-right-con h3,
.small-post-item-right-con p {
    margin: 0;
}

.small-post-item-right-con-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.small-post-multi-tag-con {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}

@media screen and (min-width: 500px) {
    .small-post-item-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}
