.multi-tag-con {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-left: 15px;
    width: 33%;
}

.tag-con {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    height: 15px;
}

.tag-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;

}
